h1 {
  color: hsl(320, 50%, 50%);
}

h2 {
  color: hsl(240, 50%, 50%);
}

h6 {
  color: hsl(120, 50%, 50%);
}

p {
  color: hsl(69, 69%, 69%);
  background-color: hsl(0, 0%, 0%);
} 

p em {
  color: hsl(0, 100%, 50%);
}

li {
  background-color: #f2b195;
  color: hsl(240, 50%, 50%);
}
